@font-face {
    font-family: "Digital Dismay";
    src: url("./digital-dismay.otf") format("truetype");
}
body{
    background-image: url("img/hatter.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    line-height: normal;
}
td,tr,table{
    padding: 0px;
    border: 0px;
    table-layout: fixed;
    
}
table,#head{
    border-top: 2px solid #7B7B7B;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #7B7B7B;
    margin: 6px;
}
img{
    width: 25px;
    height: 25px; 
    display: block;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
}
#menu,#almenu{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
}
.gomb_kivalasztva{
    border: rgb(168, 102, 102) solid 4px;
}
#main{
    margin: 0 auto;
    margin-top:50px;
    background-color: #C0C0C0;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
}
#main_head{
    height: 50px;      
}
#head{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}
#time_disp,#bomba_disp{
    font-family: 'Digital Dismay';
    font-size: 35px;
    letter-spacing: 1px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 4px 4px 0 7px;
}
#reset_disp{
    text-align: center;
    width: 42px;
    height: 42px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
}

#reset_img_disp{
    width: 100%;
    height: 100%;
}
#menu_start_div{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
#nehezseg_span,#startGomb,#nehezseg_span_kivalasztott{
    margin: auto;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    width: 100px;
    height: 20px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    position: relative;
    background-color: #C0C0C0;
    text-align: center;
}

#boardopen{
    left: 5px;
    width: 100px;
    height: 20px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    position: fixed;
    background-color: #C0C0C0;
    text-align: center;
}

#nehezseg_div_dropdown{
    margin-top: 2px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: -2px;
    width: 124px;
}
#nehezseg_span:hover #nehezseg_div_dropdown{
    display: flex ;
    flex-direction: column ;
}
#parameter_div>input{
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif;
    width: fit-content;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    position: relative;
    background-color: #C0C0C0;
    text-align: center;
}
*,
*::before,
*::after {
  box-sizing: unset;
}
#flag{
    color: red;
    font-size: 20px;
    text-align: center;
}
#boardload button,#boardload p,#offcanvasLabel{
    margin-left: 22px;
    margin-right: 22px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.offcanvas.offcanvas-start{
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    background-color: #C0C0C0;
    width: fit-content;
    width: 350px;
}
button{
    border-top: 2px solid #ffffff !important;
    border-right: 2px solid #7B7B7B !important;
    border-bottom: 2px solid #7B7B7B !important;
    border-left: 2px solid #ffffff !important;
    background-color: #C0C0C0 !important;
    border-radius: 0% !important;
}
#board button{
    width: 55px;
}
#boardopen:hover,#nehezseg_span:hover,#startGomb:hover,#nehezseg_span_kivalasztott:hover,button:hover{
    border-top: 2px solid black !important;
    border-right: 2px solid black !important;
    border-bottom: 2px solid black !important;
    border-left: 2px solid black !important;
}
#leaderboardsave{
    height: 90px !important;
    flex-grow: 0 !important;
    margin: 15px;
    text-align: center;
}
#boardload{
    flex-grow: 0 !important;
    height: 100%;
    overflow-y: hidden;
}
#offcanvasLabel1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
#db_data{
    margin-top: 8px;
    overflow-y: scroll;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    height: 85%;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    background: red; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lime;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } 
.offcanvas-body {
    padding: 1px !important;
}
#leaderboardtable{
    word-break:normal;
}
#leaderboardtable td{
    margin: 1px;
    width: 0.1%;
    word-break:normal;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding:3px;
}

